*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#number{
    font-size: 4.2rem;
    color: #1e1e1e;
    font-weight: 400;
}

.btn{
    width: 140px;
    height: 28px;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.dec-btn{
    background-color: #FF004D;
    color: white;
}

.inc-btn{
    background-color: #65B741;
    color: white;
}


.overlay{
    width: 50vw;
    height: 50vh;
    background-color: #22092C;
    position: absolute;
    top: 25%;
    left: 25%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.message{
    color: #FFF;
}

.close_btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.hidden{
    display: none;
}

