*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: monospace;
}

.main{
    width: 100vw;
    min-height: 100vh;
}

.item_ctn{
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.add_btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 180px;
    height: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    color: #FFF;
    background-color: #65B741;
}

.add_btn:hover{
    background-color: transparent;
    color: #000;
    border: 2px solid #65B741;
}

.item{
    width: 390px;
    border: 1px solid #65B741;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
}


.remove_btn{
    margin-left: 50px;
    width: 100px;
    padding: 3px;
    margin-top: 30px;
    background-color: #750E21;
    color: white;
    border: none;
    cursor: pointer;
}
.date{
    font-size: 1rem;
    color: #65B741;
}

.end_date{
    color: #EF4040;
    font-size: 1rem;
}

.add_item_form{
    width: 50vw;
    height: 50vh;
    position: absolute;
    top:0;
    left: 25vw;
    background-color: #DCF2F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-left: 18%;
    border-radius: 10px;
}

.add_item_form input{
    width: 220px;
    height:28px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #65B741;
    color: #000;
}

.add_item_form input:focus{
    outline: none;
}
.add_item_form button{
    width: 100px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.submit_btn{
    background-color: #65B741;
    color: #FFF;
    border: none;
}
.discard_btn{
    background-color: #EF4040;
    color: #FFF;
    border: none;
}
.hidden{
    display: none;
}